@font-face {
  font-family: 'Noto Sans CJK KR';
  font-style: normal;
  font-weight: 100;
  src: url('static/font/NotoSansKR-Light.woff2') format('woff2'), url('static/font/NotoSansKR-Light.woff') format('woff'),
    url('static/font/NotoSansKR-Light.otf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans CJK KR';
  font-style: normal;
  font-weight: normal;
  src: url('static/font/NotoSansKR-Regular.woff2') format('woff2'), url('static/font/NotoSansKR-Regular.woff') format('woff'),
    url('static/font/NotoSansKR-Regular.otf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans CJK KR';
  font-style: normal;
  font-weight: 500;
  src: url('static/font/NotoSansKR-Medium.woff2') format('woff2'), url('static/font/NotoSansKR-Medium.woff') format('woff'),
    url('static/font/NotoSansKR-Medium.otf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans CJK KR';
  font-style: normal;
  font-weight: bold;
  src: url('static/font/NotoSansKR-Bold.woff2') format('woff2'), url('static/font/NotoSansKR-Bold.woff') format('woff'),
    url('static/font/NotoSansKR-Bold.otf') format('truetype');
}

html,
body {
  position: fixed;
}

body {
  margin: 0;
  position: fixed;
  font-family: 'Noto Sans CJK KR', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none;
  /* disable ios scroll refresh  */
  overscroll-behavior: contain;
  overscroll-behavior-y: contain;
  overflow: hidden;
}

div#scrollableDiv::-webkit-scrollbar {
  display: none;
}

@media (pointer: none), (pointer: coarse) {
  ::-webkit-scrollbar {
    display: none;
  }
}

::-webkit-scrollbar {
  height: 3px;
}

::-webkit-scrollbar-track {
  background-color: none;
}
::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 5px;
}

div {
  box-sizing: border-box;
  letter-spacing: -0.2px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.disableAnim > * {
  -webkit-transition: unset !important;
  -moz-transition: unset !important;
  -o-transition: unset !important;
  transition: unset !important;
}

.givenKey:active {
  opacity: 40%;
}

.givenKey {
  transition: opacity ease 0.1s 0s;
}

.playlistCard:active {
  transform: scale(0.94, 0.94);
}

.playlistCard {
  transition: transform ease 0.3s 0s;
}

.button:active {
  opacity: 20%;
}

.button {
  transition: opacity ease 0.1s 0s;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
